﻿<!DOCTYPE html>
<html data-ng-controller="MyCtrl" data-ng-cloak="true">
<head>
    <title data-ng-bind="model.pageTitle"></title>
    @Styles.Render("~/bundles/MyAppStyles")
</head>
<body>
    <h2>HELLO, This is your home page</h2>

    <a href="/#/TmsClients">Open Tms Clients Page</a>

    <br />
    <br />

    <data-ng-view></data-ng-view>

    <script src="~/Scripts/angular-lib/angular.min.js"></script>
    <script src="~/Scripts/angular-lib/angular-route.min.js"></script>

    @Scripts.Render("~/bundles/MyAppScripts")

    <script type="text/javascript">
        angular.element(document).ready(function () {
            angular.bootstrap(document, ['MyApp']);
        });
    </script>
</body>
</html>
