﻿<table>
    <thead>
        <td>Index</td>
        <td>PMSClientID</td>
        <td>AccessID</td>
        <td>ApplicationID</td>
        <td>UpdateTS</td>
        <td>UpdatedBy</td>
    </thead>
    <tr data-ng-repeat="x in clients">
        <td>{{ $index + 1 }}</td>
        <td>{{ x.PMSClientID }}</td>
        <td>{{ x.AccessID }}</td>
        <td>{{ x.ApplicationID }}</td>
        <td>{{ x.UpdateTS }}</td>
        <td>{{ x.UpdatedBy }}</td>
    </tr>
</table>
